body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .Head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .Head button{
    background-color: #4c65af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    transition-duration: 0.4s;
  }
  
  .Head button:hover {
    background-color: #6788eb;
    color: white;
  }
  
  .code-editor {
    background-color: white;
    /*border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
    padding: 1% 5%;
    /*width: 80%;*/
    /*max-width: 800px;*/
  }
  
  .code-editor pre {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    margin-top: 10px;
    min-height: 300px;
    font-family: monospace;
  }
  
  .output {
    background-color: white;
    /*border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
    padding: 1% 5%;
    /*width: 80%;*/
    /*max-width: 800px;*/
    position: relative;
    margin: 0 auto;
  }
  
  .output pre {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap;
    margin-top: 10px;
    min-height: 10%;
    font-family: monospace;
  }
  
  .Links {
    padding: 1% 5%;
  }
  
  .Links button {
    background-color: white;
    border: 2px solid #4c65af;
    color: black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 12px;
    transition-duration: 0.4s;
  }
  
  .Links button:hover {
    background-color: #4c65af;
    color: white;
  }
  
  footer {
    font-size: 10px;
  }

  .copy {
    position: absolute;
    /*top: 4.016064257028113vh;
    right: 5.208333333333333vw;*/
    background-color: #ebe9e9;
    color: black;
    /*padding:  0.6693440428380187vh 0.6510416666666666vw;*/
    padding: 1% 5%;
    cursor: pointer;
    border: 1px solid #ccc;
    opacity: 0;
    transition: opacity 0.3s;
  }
